@using MVC_Voorbeeld2.Models


@model Persoon


@{
    ViewBag.Title = "Home Page";
}
@{
    Layout = "~/Views/Shared/_AndereLayout.cshtml";
}





<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">lalala</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>No</h2>
        <p>

            Doorgegeven persoon : @Model.Voornaam @Model.Familienaam

        </p>
        <p><a class="btn btn-default" href="./Werknemer/index/">Werknemer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p></p>
        <p><a class="btn btn-default" href="./Home/Palindroom?woord=lepel">Palindroom &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Alle werknemers</h2>
        <p></p>
        <p><a class="btn btn-default" href="./Werknemer/Lijst">Alle werknemers &raquo;</a></p>
    </div>
</div>